@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto:wght@100;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}



.is_invalid{
    box-shadow: inset 0 0 0.25em 0.1em #f9030380;
}




body{
    width:100vw;
}



h1{
    font-size: 2rem;
    font-weight: 500;
}

h2{
    font-size: 1.7rem;
    font-weight: 500;
}

h3{
    margin-top: 5px;
}

/*Seccion Cabecera*/

header{
    background-color: #353a40;
    top: 0;
}

.cabecera{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.logoTexto{
    display: flex;
}

.logo{
    width: 20%;
}

.nombreLogo{
    display: flex;
    color: #ffffff;
    align-items: center;
    font-size: 1.5rem;
    
}

.link, .linkVerde {
    text-decoration: none;
    color: #ffffff;
    box-sizing: border-box;
    margin: 5px 5px 5px 5px;
}

.linkVerde{
    color: #297b3d;
}

/*Introducción */
.fondoCabecera{
    background:radial-gradient(ellipse farthest-corner at right center, rgba(125,121,121,0.62) 10%, rgba(10,10,10,0.53) 80%), url(ba1.jpg) ;
    background-size:cover;
    
}

.introduccion{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    color:#ffffff;
    text-align: right;  
}

.introduccionContenido{
    width: 40%;
    margin: 10vw;
}

.botones{
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    
}

.botonConRelleno, .botonSinRelleno{
    text-decoration: none;
    color: #ffffff;
    box-sizing: border-box;
    border: #ffffff solid 1px;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    
}

.botonConRelleno{
    background-color:  #29a845;
    border: none;
}

/*Seccion tarjetas*/
.titulos{
    text-align: center;
    margin: 5px 0px;
    text-transform: uppercase;
}

.titulosParrafo{
    font-size: 0.7rem;
    margin: 10px 0px 5px 0px;
}

.tarjetas{
    display: flex;
    justify-content: space-around;
    margin: 20px 200px 50px 200px;
    overflow-x: visible;
}



.tarjetasIndividuales{
    width: 300px;
    justify-content: center;
}

.oradores{
    width: 300px;
    margin-bottom: 15px;
}

.tarjetas p{
    display: inline;
}

.temaReact, .temaJava, .temaNegocios, .temaStartups{
    box-sizing: border-box;
    padding: 1%;
    border-radius: 10%;
    color:#ffffff
   
}

.temaReact{
    background-color: #3da5b9;   
}

.temaJava{
    background-color: #dfaa0a;
    color:#000;
}

.temaNegocios{
    background-color: #72757a;
  
}

.temaStartups{
    background-color: #dd4e5a;
}

/*Seccion Lugar*/

.lugar{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color:  #343a40;
}

.lugar img{
    width: 50vw;
    overflow-x: visible;
}

.lugarTexto{
    color:#ffffff;
    margin:15px 0px 0px 15px;
}

.lugarTitulo{
    font-size: 2em;
}

.botonConocerMas{
    display:inline-block;
    text-decoration: none;
    color: #ffffff;
    box-sizing: border-box;
    border: #ffffff solid 1px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px;}

    /*Formulario*/

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.formularioTexto{
    width: 470px;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.input{
    box-sizing: border-box;
    padding: 5px;
    margin: 1px 0px;
    width: 250px;
}

.inputCuerpo{
    box-sizing: border-box;
    margin: 1px 0px ;
    padding: 5px;
    width: 500px;
}

.inputEnviar{
    box-sizing: border-box;
    margin: 1px 0px ;
    padding: 5px;
    width: 500px;
    color:#ffffff;
    background-color: #52c36b;
    border:none;
    border-radius: 5px;
}

/*Footer*/

footer{
    background-color: #353a40;
    
    margin-top: 20px;
 
    left: 0;
    bottom: 0;
    width: 100%;
    
}

.navegacionFooter{
    display: grid;
    grid-template-columns: repeat(7,7fr);
    padding: 20px 0px;
    margin-right: 300px;
    margin-left: 300px;
}
.linkFooter {
    text-decoration: none;
    color: #ffffff;
    box-sizing: border-box;
    margin: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
}


/*Comprar Tickets*/

.tarifario{
    display: flex;
    justify-content: center;
    gap:5px;
    margin: 20px 200px 0px 200px;
    overflow-x: visible;
}

.tarifarioIndividual{
    width: 200px;
    text-align: center;
    padding: 15px 2px;
}

.categoria{
    font-size: 1rem;
   
}

.descuento{
    font-weight: bold;
}

#estudiantes{
    border: 2px groove #6aabf0;
    font-size: 0.8rem;    
}

#trainee{
    border: 2px groove #23a6ba;
    font-size: 0.8rem;    
}

#junior{
    border: 2px groove #fdc314;
    font-size: 0.8rem;    
}

.aclaracion{
    font-size: 0.7rem;

}

.mail{
    box-sizing: border-box;
    margin: 10px ;
    padding: 5px;
    width: 505px;
}

.formularioCompra{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.informacionCompra{
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    

}

#categorias{
    margin: 1px 0px;
    padding: 5px;
    color: #72757a;
    
}


.monto{
    display: flex;
    flex-direction: row;
    background-color: #cce5ff;
    margin: 20px;
    padding: 7px;
    border-radius: 5px;
    width: 500px;
    font-size: 0.9rem;
    

}
.boton{
    box-sizing: border-box;
    margin: 10px 0px ;
    padding: 7px;
    width: 250px;
    color:#ffffff;
    background-color: #97c93e;
    border:none;
    border-radius: 5px;
}


/*Responsive*/
@media screen and (max-width:740px) {

    .tarifario {
        flex-direction: column;
        align-items: center;
    }

}



@media screen and (max-width:900px) {
   
    
    .labelTickets{
        display:none;
    }

    .formularioCompra{
        display: flex;
        flex-direction: column;
        width: 500px;;
    }
    
    .tarjetas {
        flex-direction: column;
        align-items: center;
    }
    
  

    .lugar{
        flex-direction: column;
        
    }
    .lugar img{
        width: 100vw;
    }

    .introduccionContenido{
        width: 100%;
        margin: 10vw;
    }

    .introduccion{
        justify-content: center;

    }
    .botones{
        justify-content: center;

    }

    .botonConocerMas{
        margin-bottom: 10px;
    }

    .formularioTexto{
        margin: 4px 5px 8px 5px;
        width: 80vw;
        text-align: center;
    }
    
    .input{
        display: flex;
        justify-content: center;
        margin: 5px;
        width: 80vw;
        align-items: center ;
    }
    
    .inputCuerpo{
        margin: 4px 5px 8px 5px;
        width: 80vw;
    }
    
    .inputEnviar{
        margin: 4px 5px 8px 5px;
        width: 80vw;
        
    }

    .inputTicket{
        width: 500px;
    }
    
    .salto{
        display: none;
    }

    .mail{
        width: 500px;
    }

}

@media screen and (max-width:1300px) {   
    .tarjetas{
        flex-direction: column;
        align-items: center;
    }

    .navegacionFooter{
        
        grid-template-columns: repeat(2,2fr);
        grid-template-rows: repeat(4,50px);
        margin-right: 0px;
        margin-left: 0px;
    }

    .cabecera{
        display: grid;
        grid-template-rows: 1fr 3fr;
        height: 25vh;
    }

    .logoTexto{
        margin-top: 20px;
        margin-bottom: 15px;
        text-align: center;
        justify-content: center;

    }

    .logo{
        margin-top: 20px;
        margin-bottom: 15px;
        width: 10%;
    }
    
    
    
}

@media screen and (max-width:715px) {
    .cabecera{
        display: grid;
        grid-template-rows: 30% 70%;
        height: 30vh;
        text-align: center;
        
    }
    
    nav{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 34% ;
       
    }

    .linkVerde{
        box-sizing: border-box;
        color:#ffffff;
        background-color: #52c36b;      
        border:none;
        grid-column:1/3;

    }

}   

@media screen and (max-width:715px) {

.mail{
  
    width: 90vw;
    margin: 5px;
}

.formularioCompra{
   
    width: 90vw;
  
}

.inputTicket{
    width: 90vw;
}

#cantidadTickets{
    width: 90vw;
    margin: 5px 0px 5px 0px;
}





.monto{
  
    
    padding: 10px 5px 10px 5px;
 
    width: 89vw;
    
    

}
.boton{
  
    width: 90vw;
    display: flex;
justify-content: center;
   
}

}
